@import './media-queries';
@import './variables';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 15px;
}
body{
  font-family: $font_inter;             
  font-size: 1rem;
  color: $color_white;
}
.container{
  min-width: 100vw;
  min-height: 100vh;
  background-color: $color_very-dark-blue;
  display: flex;
  .card{
    overflow: hidden;
    width: 85%;
    max-width: 320px;
    height: 750px;
    margin: auto;
    background-color: $color_dark-desaturated-blue;
    border-radius: 0.5rem;
    @include attribution{
      margin-block: 45px;
    }
    .right-side{
      height: 230px;
      background: $color_soft-violet url($path_image-header-mobile) top/contain;
      background-blend-mode: multiply;
    }
    .left-side{
      h1{
        width: 80%; 
        margin-inline: auto;
        margin-block: 2.5rem 1rem;
        font-size: 1.7rem;
        text-align: center;
        color: $color_white;
        .insights{
          color: $color_soft-violet;
        }
      }
      p{
        width: 80%;
        margin-inline: auto;
        margin-bottom: 2rem;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.7;
        color: $color_slightly-transparent-white2;
      }
      .stats{
        display: flex;
        flex-direction: column;
        &_item{
          h2{
            font-weight: bolder;       
            text-align: center;
            padding-bottom: 0.5rem;
          }
          p{
            font-size: 0.7rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            color: $color_slightly-transparent-white2;
          }
        }
      }
    }
  }
}
@include desktop{
  .container{
    .card{
      width: 900px;
      max-width: initial;
      height: 350px;
      margin-top: 30px;
      .right-side{
        position: relative;
        float: right;
        width: 50%;
        height: 100%;
        background-image: url($path_image-header-desktop);
      }
      .left-side{
        width: 50%;
        padding: 50px 75px 45px 45px;
        h1{
          width: initial;
          margin: 0;
          margin-bottom: 25px;
          font-size: 2.1rem;
          text-align: left;
        }
        p{
          width: initial;
          font-size: 0.85rem;
          text-align: left; 
          margin-right: 30px;
        }
        .stats{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 80px;
          margin-right: 50px;
          &_item{
            height: 100%;
            padding-top: 20px;
            h2, p{
              margin-left: 0;
              text-align: left;
            }
          }
        }
      } 
    }
  }
}


.attribution { 
  position: absolute;
  left: 50%;
  bottom: 0.8rem;
  transform: translateX(-50%);
  width: 90%;
  font-size: 0.8rem;
  text-align: center;
  color: $color_soft-violet;
  a { 
    color: $color_white; 
  }
  @include attribution{
    display: none;
    margin-block: 45px;
  }
}
