@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkCyan: hsl(185, 75%, 39%);
    --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --darkGrayisBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
}

html{
    font-size: 18px;
    overflow: hidden;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    background-color: var(--darkCyan);
}

.contain{ 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99; 
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 350px;
    min-width: 300px;
    height: 420px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 20px hsl(184, 44%, 43%), -10px -10px 20px hsl(184, 44%, 43%);
}

.card::after {
    content: "";
    background-image: url( "../images/bg-pattern-top.svg" );
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 350%;
    height: 350%;
    transform: translate( -75%, -70%);
    z-index: -99;
  }
  
  .card::before {
    content: "";
    background-image: url( "../images/bg-pattern-bottom.svg" );
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    /* background-color: blue; */
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350%;
    height: 350%;
    transform: translate( 75%, 85% );
    z-index: -99;
  }

.bg-pattern-card{
    position: relative;
    height: 150px;
    background-image: url("../images/bg-pattern-card.svg");
    background-position: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.avatar{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,50%);
    width: 120px;
    height: 120px;
    background-image: url("../images/image-victor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
}

.business-card{
    height: 170px;
}

.business-card h2{
    padding-top: 85px;
    font-size: 20px;
    text-align: center;
    color: var(--veryDarkDesaturatedBlue);
}

.business-card h2 span{
    color: var(--darkGray);
}

.business-card p{
    color: var(--darkGray);
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
}

hr{
    border-top: 1px solid hsla(0, 0%, 59%, 0.2);;
}

.followers{
    height: 100%;
    width: 100%;
    padding: 0px 20px;
}

.follower{
    float: left;
    width: 33.33%;
    text-align: center;
    margin-top: 25px;
}

.follower span{
    color: var(--veryDarkDesaturatedBlue);
    font-weight: bolder;
    font-size: 1.3rem;
}

.follower p{
    font-size: 0.8rem;
    color: var(--darkGray);
    margin-top: 5px;
}

.attribution {
    position: fixed;
    width: 90%;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    cursor: pointer;
}
